/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: only dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: auto;
  text-align: center;
}

main {
  text-align: center;
  text-transform: uppercase;
  max-width: 1000px;
  margin: auto;
  padding: 1.5rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #a3a8ff;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  letter-spacing: 10px;
}
h2 {
  font-size: 2.5rem;
}

hr {
  background: linear-gradient(
    to left,
    currentColor calc(50% - 16px),
    transparent calc(50% - 16px),
    transparent calc(50% + 16px),
    currentColor calc(50% + 16px)
  );
  background-color: transparent !important;
  border: none;
  height: 0.05rem;
  overflow: visible;
  position: relative;
}
hr::before {
  left: calc(50% - 0.5rem);
}

hr::after {
  right: calc(50% - 0.5rem);
}
hr::before,
hr::after {
  background: currentColor;
  content: "";
  display: block;
  height: 1.6rem;
  position: absolute;
  top: calc(50% - 0.8rem);
  transform: rotate(22.5deg);
  width: 0.05rem;
}
hr:last-child {
  display: none;
}

footer,
header {
  padding: 2rem;
  
}

#logo {
  width: 150px;
  height: 150px;
  filter: invert(100%);
  margin: auto;
}

footer {
  text-align: center;
  font-size: 0.75em;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
  h1 {  
    letter-spacing: 3px;
    font-size:14vw;
  }
}